<div class="input-group-btn cmd" data-type="action" data-subtype="other" data-cmd_id="#id#">
	<style>
		.digit {
			  height: 66px;
			  width: 66px;
			  margin: 0 8px 14px !important;
			  background-color: #f8f8f8;
			  font-weight: 300;
			  font-size: 24px;
			  border-radius: 100px;
			  line-height: 21px;
			  padding-top: 9px;
			  float: left;
		}
			.digit span {
			  display: block;
			  color: #999;
			  font-size: 10px;
			  font-weight: normal;
		}
		#sip-dialpad {
			  width: 292px;
			  padding: 16px 20px;
		}
		#sip-dialpad .col-xs-4 {
		 	text-align: center;
		}
		#numDisplay::-webkit-input-placeholder {
		 	 color: #bbb;
		}
		#numDisplay::-moz-placeholder {
		  	color: #bbb;
		}
		#numDisplay::-ms-input-placeholder {
		  	color: #bbb;
		}
		#numDisplay::-moz-placeholder {
		  	color: #bbb;
		}
	</style>
		<button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" title="Show Keypad">
			<i class="fa fa-th"></i>
		</button>
		<div id="sip-dialpad" class="dropdown-menu">
			<button type="button" class="btn btn-primary digit" data-digit="1">1<span>&nbsp;</span></button>
			<button type="button" class="btn btn-primary digit" data-digit="2">2<span>ABC</span></button>
			<button type="button" class="btn btn-primary digit" data-digit="3">3<span>DEF</span></button>
			<button type="button" class="btn btn-primary digit" data-digit="4">4<span>GHI</span></button>
			<button type="button" class="btn btn-primary digit" data-digit="5">5<span>JKL</span></button>
			<button type="button" class="btn btn-primary digit" data-digit="6">6<span>MNO</span></button>
			<button type="button" class="btn btn-primary digit" data-digit="7">7<span>PQRS</span></button>
			<button type="button" class="btn btn-primary digit" data-digit="8">8<span>TUV</span></button>
			<button type="button" class="btn btn-primary digit" data-digit="9">9<span>WXYZ</span></button>
			<button type="button" class="btn btn-primary digit" data-digit="*">*<span>&nbsp;</span></button>
			<button type="button" class="btn btn-primary digit" data-digit="0">0<span>+</span></button>
			<button type="button" class="btn btn-primary digit" data-digit="#">#<span>&nbsp;</span></button>
			<div class="clearfix">&nbsp;</div>
			<button class="btn btn-success btn-block btnCall action" title="Send">
				<i class="fa fa-play"></i> #name#
			</button>
		</div>
	</div>
<input type="text" name="number" data-cmd_id=#id# class="numDisplay form-control text-center input-sm" placeholder="Saisir le numero SIP" autocomplete="off" />    
<script>
	$('.cmd[data-cmd_id=#id#]').on('click','.dropdown-menu',function(e) {
		e.preventDefault();
	});
	$('.numDisplay[data-cmd_id=#id#]').on('keypress',function(e) {
		// Enter pressed? so Dial.
		if (e.which === 13) {
			$('.cmd[data-cmd_id=#id#]  .btnCall').trigger('click');
		}
	});
	$('.cmd[data-cmd_id=#id#]').on('click','.digit',function(event) {
		event.preventDefault();
		var num = $('.numDisplay[data-cmd_id=#id#]').val();
		var dig = $(this).attr('data-digit');
		$('.numDisplay[data-cmd_id=#id#]').val(num+dig);
		return false;
	});
	$(".cmd[data-cmd_id=#id#] .action").off();
	$(".cmd[data-cmd_id=#id#] .action").on("click", function() {
		var num = $('.numDisplay[data-cmd_id=#id#]').val();
		jeedom.cmd.execute({id: '#id#', value: {message:num}});
		bootbox.dialog({
				title: "{{Appel en cours}}",
				message:'{{Appel en cours de '+num+'}}'
				buttons: {
					"Racrocher": {
						className: "btn-danger",
						callback: function () {
							updateCmd('Racrocher');
						}
					},
					success: {
						label: "Décrocher",
						className: "btn-success",
						callback: function () {
							updateCmd('Decrocher');
						}
					},
				}
			});
	});
</script>
