<div class="container-fluid allowResize eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-version="dashboard" style="width: #width#;height: #height#;background-color: #background#;">  
<div class="clearfix sipStatus">
        <div id="txtCallStatus" class="pull-right">#CallStatus#</div>
        <div id="txtRegStatus"><i class="fa fa-signal"></i>#RegStatus#</div>
    </div>

    <div class="form-group" id="phoneUI">
        <div class="input-group">
                #call#
            <div class="input-group-btn input-group-btn-sm">
                <button class="btn btn-sm btn-primary dropdown-toggle" id="btnVol" data-toggle="dropdown" title="Volume">
                    <i class="fa fa-fw fa-volume-up"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <input type="range" min="0" max="100" value="100" step="1" id="sldVolume" />
                </div>
            </div>
        </div>
    </div>

    <div class="well-sip">
        <div id="sip-splash" class="text-muted text-center panel panel-default">
            <div class="panel-body">
                <h3 class="page-header">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span><br></h3>
            </div>
        </div>

        <div id="sip-log" class="panel panel-default hide">
            <div class="panel-heading">
                <h4 class="text-muted panel-title">Appel récent
                    <span class="pull-right">
                        <i class="fa fa-trash text-muted sipLogClear" title="Clear Log"></i>
                    </span>
                </h4>
            </div>
            <div id="sip-logitems" class="list-group">
                <p class="text-muted text-center">Aucun appel recent.</p>
            </div>
        </div>
    </div>
        <audio id="ringtone" src="plugins/clientSIP/core/template/sounds/incoming.mp3" loop></audio>
        <audio id="ringbacktone" src="plugins/clientSIP/core/template/sounds/outgoing.mp3" loop></audio>
        <audio id="dtmfTone" src="plugins/clientSIP/core/template/sounds/dtmf.mp3"></audio>
        <audio id="audioRemote"></audio>
        <script type="text/javascript" src="plugins/clientSIP/desktop/js/moment.js"></script>
        <script>
$(document).ready(function() {  
    	$.ajax({
                type: 'POST',
                async: false,
                url: 'plugins/clientSIP/core/ajax/clientSIP.ajax.php',
                data: {
                        action: 'getHistoryCall',
                },
                dataType: 'json',
                global: false,
                success: function(data) {
                        if (data.state != 'ok') {
                                $('#div_alert').showAlert({message: data.result, level: 'danger'});
                                return;
                        }
                        
                        $('#sip-logitems').html('');
                        var monitors=jQuery.parseJSON(data.result);
                        jQuery.each(monitors.reverse(),function(key, value) {
                                var i  = '<div class="list-group-item sip-logitem clearfix" title="Double clique pour rappeler">';
                                i += '<div class="clearfix"><div class="pull-left">';
                                i += '<i class="fa fa-fw fa-fw"></i> <strong>'+item.number+'</strong><br><small>'+item.start+'</small>';
                                i += '</div>';
                                i += '<div class="pull-right text-right"><em></em><br>' + /*callLength*/+'</div></div>';
                                //if (callActive) {
                                        i += '<div class="btn-group btn-group-xs pull-right">';
                                        if (item.status === 'ringing' && item.flow === 'incoming') {
                                          i += '<button class="btn btn-xs btn-success btnCall" title="Call"><i class="fa fa-phone"></i></button>';
                                        } else {
                                                i += '<button class="btn btn-xs btn-primary btnHoldResume" title="Hold"><i class="fa fa-pause"></i></button>';
                                                i += '<button class="btn btn-xs btn-info btnTransfer" title="Transfer"><i class="fa fa-random"></i></button>';
                                                i += '<button class="btn btn-xs btn-warning btnMute" title="Mute"><i class="fa fa-fw fa-microphone"></i></button>';
                                        }
                                        i += '<button class="btn btn-xs btn-danger btnHangUp" title="Hangup"><i class="fa fa-stop"></i></button>';
                                        i += '</div>';
                                //}
                                i += '</div>';
                                $('#sip-logitems').append(i);
                        });		
                }
	});
    $('.sipLogClear').click(function(event) {
        event.preventDefault();
       // ctxSip.logClear();
    });
    $('#sip-logitems').on('click', '.sip-logitem .btnCall', function(event) {
        return false;
    });
    $('#sip-logitems').on('click', '.sip-logitem .btnHoldResume', function(event) {
        return false;
    });
    $('#sip-logitems').on('click', '.sip-logitem .btnHangUp', function(event) {
        return false;
    });
    $('#sip-logitems').on('click', '.sip-logitem .btnTransfer', function(event) {
        return false;
    });
    $('#sip-logitems').on('click', '.sip-logitem .btnMute', function(event) {
        return false;
    });
    $('#sip-logitems').on('dblclick', '.sip-logitem', function(event) {
    });
});
</script>

</div>
