<div class="container-fluid allowResize eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-version="dashboard" style="width: #width#;height: #height#;background-color: #background#;">  
<div class="clearfix sipStatus">
        <div id="txtCallStatus" class="pull-right">#CallStatus#</div>
        <div id="txtRegStatus"><i class="fa fa-signal"></i>#RegStatus#</div>
    </div>

    <div class="form-group" id="phoneUI">
        <div class="input-group">
                #call#
            <div class="input-group-btn input-group-btn-sm">
                <button class="btn btn-sm btn-primary dropdown-toggle" id="btnVol" data-toggle="dropdown" title="Volume">
                    <i class="fa fa-fw fa-volume-up"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <input type="range" min="0" max="100" value="100" step="1" id="sldVolume" />
                </div>
            </div>
        </div>
    </div>

    <div class="well-sip">
        <div id="sip-splash" class="text-muted text-center panel panel-default">
            <div class="panel-body">
                <h3 class="page-header">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span><br></h3>
            </div>
        </div>

        <div id="sip-log" class="panel panel-default hide">
            <div class="panel-heading">
                <h4 class="text-muted panel-title">Appel récent
                    <span class="pull-right">
                        <i class="fa fa-trash text-muted sipLogClear" title="Clear Log"></i>
                    </span>
                </h4>
            </div>
            <div id="sip-logitems" class="list-group">
                <p class="text-muted text-center">Aucun appel recent.</p>
            </div>
        </div>
    </div>
        <audio id="ringtone" src="plugins/clientSIP/core/template/sounds/incoming.mp3" loop></audio>
        <audio id="ringbacktone" src="plugins/clientSIP/core/template/sounds/outgoing.mp3" loop></audio>
        <audio id="dtmfTone" src="plugins/clientSIP/core/template/sounds/dtmf.mp3"></audio>
        <audio id="audioRemote"></audio>
        <script type="text/javascript" src="plugins/clientSIP/desktop/js/moment.js"></script>
        <script>
        /*
            i  = '<div class="list-group-item sip-logitem clearfix '+callClass+'" data-uri="'+item.uri+'" data-sessionid="'+item.id+'" title="Double Click to Call">';
            i += '<div class="clearfix"><div class="pull-left">';
            i += '<i class="fa fa-fw '+callIcon+' fa-fw"></i> <strong>'+ctxSip.formatPhone(item.uri)+'</strong><br><small>'+moment(item.start).format('MM/DD hh:mm:ss a')+'</small>';
            i += '</div>';
            i += '<div class="pull-right text-right"><em>'+item.clid+'</em><br>' + callLength+'</div></div>';
            if (callActive) {
                i += '<div class="btn-group btn-group-xs pull-right">';
                if (item.status === 'ringing' && item.flow === 'incoming') {
                    i += '<button class="btn btn-xs btn-success btnCall" title="Call"><i class="fa fa-phone"></i></button>';
                } else {
                    i += '<button class="btn btn-xs btn-primary btnHoldResume" title="Hold"><i class="fa fa-pause"></i></button>';
                    i += '<button class="btn btn-xs btn-info btnTransfer" title="Transfer"><i class="fa fa-random"></i></button>';
                    i += '<button class="btn btn-xs btn-warning btnMute" title="Mute"><i class="fa fa-fw fa-microphone"></i></button>';
                }
                i += '<button class="btn btn-xs btn-danger btnHangUp" title="Hangup"><i class="fa fa-stop"></i></button>';
                i += '</div>';
            }
            i += '</div>';
            $('#sip-logitems').append(i);
*/

$(document).ready(function() {  
    $('.sipLogClear').click(function(event) {
        event.preventDefault();
       // ctxSip.logClear();
    });
    $('#sip-logitems').on('click', '.sip-logitem .btnCall', function(event) {
        var sessionid = $(this).closest('.sip-logitem').data('sessionid');
      //  ctxSip.phoneCallButtonPressed(sessionid);
        return false;
    });
    $('#sip-logitems').on('click', '.sip-logitem .btnHoldResume', function(event) {
        var sessionid = $(this).closest('.sip-logitem').data('sessionid');
      //  ctxSip.phoneHoldButtonPressed(sessionid);
        return false;
    });
    $('#sip-logitems').on('click', '.sip-logitem .btnHangUp', function(event) {
        var sessionid = $(this).closest('.sip-logitem').data('sessionid');
      //  ctxSip.sipHangUp(sessionid);
        return false;
    });
    $('#sip-logitems').on('click', '.sip-logitem .btnTransfer', function(event) {
        var sessionid = $(this).closest('.sip-logitem').data('sessionid');
       // ctxSip.sipTransfer(sessionid);
        return false;
    });
    $('#sip-logitems').on('click', '.sip-logitem .btnMute', function(event) {
        var sessionid = $(this).closest('.sip-logitem').data('sessionid');
       // ctxSip.phoneMuteButtonPressed(sessionid);
        return false;
    });
    $('#sip-logitems').on('dblclick', '.sip-logitem', function(event) {
        event.preventDefault();

        var uri = $(this).data('uri');
        $('#numDisplay').val(uri);
     //   ctxSip.phoneCallButtonPressed();
    });
    $('#sldVolume').on('change', function() {

        var v      = $(this).val() / 100,
             player = $('audio').get()[0],
            btn    = $('#btnVol'),
            icon   = $('#btnVol').find('i'),
            active = '';

        // Set the object and media stream volumes
     //   if (ctxSip.Sessions[active]) {
     //       ctxSip.Sessions[active].player.volume = v;
      //      ctxSip.callVolume                     = v;
      //  }

        // Set the others
        $('audio').each(function() {
            $(this).get()[0].volume = v;
        });

        if (v < 0.1) {
            btn.removeClass(function (index, css) {
                   return (css.match (/(^|\s)btn\S+/g) || []).join(' ');
                })
                .addClass('btn btn-sm btn-danger');
            icon.removeClass().addClass('fa fa-fw fa-volume-off');
        } else if (v < 0.8) {
            btn.removeClass(function (index, css) {
                   return (css.match (/(^|\s)btn\S+/g) || []).join(' ');
               }).addClass('btn btn-sm btn-info');
            icon.removeClass().addClass('fa fa-fw fa-volume-down');
        } else {
            btn.removeClass(function (index, css) {
                   return (css.match (/(^|\s)btn\S+/g) || []).join(' ');
               }).addClass('btn btn-sm btn-primary');
            icon.removeClass().addClass('fa fa-fw fa-volume-up');
        }
        return false;
    });
    // Hide the spalsh after 3 secs.
    setTimeout(function() {
     //   ctxSip.logShow();
    }, 3000);
    var Stopwatch = function(elem, options) {

        // private functions
        function createTimer() {
            return document.createElement("span");
        }

        var timer = createTimer(),
            offset,
            clock,
            interval;

        // default options
        options           = options || {};
        options.delay     = options.delay || 1000;
        options.startTime = options.startTime || Date.now();

        // append elements
        elem.appendChild(timer);

        function start() {
            if (!interval) {
                offset   = options.startTime;
                interval = setInterval(update, options.delay);
            }
        }

        function stop() {
            if (interval) {
                clearInterval(interval);
                interval = null;
            }
        }

        function reset() {
            clock = 0;
            render();
        }

        function update() {
            clock += delta();
            render();
        }

        function render() {
            timer.innerHTML = moment(clock).format('mm:ss');
        }

        function delta() {
            var now = Date.now(),
                d   = now - offset;

            offset = now;
            return d;
        }

        // initialize
        reset();

        // public API
        this.start = start; //function() { start; }
        this.stop  = stop; //function() { stop; }
    };
});
</script>

</div>
